/vendor/
/logs/*
!/logs/README.md

# This keeps you from uploading your cache dir to your github repo.
# It also protects your API keys and data stored in /storage/config!
# You will need to create /storage/ on your server, as well as
# /storage/config/settings.php
/storage/

/classes/*

!/classes/Client.php
!/classes/Crm.php
!/classes/GenericCrm.php
!/classes/Subscriber.php
!/classes/SubscriberList.php
