<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <title>CRM2ESP * Built by Clearbold</title>
    <!--[if gte IE 10]><!-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/ui/css/styles.css" />
    <!-- <![endif]-->
</head>
<body>
    <div class="nav-bar" role="navigation"><div class="wrapper">
        <span>CRM2ESP &rarr; Campaign Monitor</span> <a href="http://github.com/clearbold">Built by Clearbold</a>
    </div></div>
    <div class="wrapper">
{% block content %}

{% endblock content %}
    </div>
    <script
    src="https://code.jquery.com/jquery-2.2.3.min.js"
    integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
    crossorigin="anonymous"></script>
    <script src="/ui/js/script.js"></script>
</body>
</html>
